#root {
  width: 100%;
}
.animated-svg {
  fill-opacity: 0;
  stroke-dasharray: 1300;
  stroke-dashoffset: 1300;
  animation: dash 4s ease-in forwards;
}

@keyframes dash {
  70% {
    fill-opacity: 0;
  }

  100% {
    fill-opacity: 100%;
    stroke-dashoffset: 0;
    stroke-width: 1;
  }
}
